  
  .cart {
    width: 500px;
    height: 500px;
    margin: 100px auto 0 auto;
    background-color: rgb(63, 84, 48);
    color: aliceblue;
    border: 10px solid #ccc;
    text-align: center;
    box-sizing: border-box;
    h2{
      font-size: 2rem;
    }
    ul{
        
        display: flex;
        flex-direction: column;
        list-style: none;
    }
    
    @media only screen and (max-width: 600px) {
      width: 90%; 
      height: auto; 
      margin: 50px auto 0 auto;
      margin-top: 150px;
  
      ul {
        padding: 0;
      }
    }
  }
  