.form-container{
    width: 300px;
    height: 550px;
    margin: 50px  auto 0 auto ;
    background-color: rgba(218, 231, 219, 0.87);
    color: rgb(16, 83, 24);
    border-radius: 5px;
    h2{
        font-size: 2rem;
        color: rgb(40, 82, 56);
        display: block;
        text-align: center;
        padding-top: 10px;
    }
    p{
        width: 80%;
        text-align: left;
        margin-left: 30px;
        a{
            color: rgb(13, 77, 37);
        }
    }
    form{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
        input{
            height: 40px;
            width: 100%;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
}
        button{
            margin-top: 30px;
            height: 40px;
            width: 100%;
            border-radius: 5px;
            background-color: rgb(216, 220, 121);
        }
    }
    @media only screen and (max-width: 600px) {
        width: 80%; 
        margin-top: 150px; 
      }
    }

