.container {
    padding: 0.5em;
    box-shadow: 1px 2px 4px rgb(0, 0, 0, 0.1);
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  li {
    margin: 0 20px;
  }
  h1{
    display: inline;
    position: absolute;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
  }
  