.product{
    box-sizing: border-box;
    margin: 0 auto;
    height: 650px;
    width: 500px;
    border: 1px solid #0f3e15;
    background-color: rgb(211, 218, 215);
    border-radius: 20px;
    text-align: center;
    img{
        height: 60%;
        width: 70%;
        padding: 3%;
        border-radius: 10px;
    }

    @media only screen and (max-width: 600px) {
        width: 90%; 
        height: auto; 
        margin: 20px auto; 
        margin-top: 150px;
    
        img {
          height: auto;
          width: 90%; 
          padding: 5px; 
        }
      }

}

